@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: "Rubik", sans-serif;
}

:root {
  --color-red: #fa5757ff;
  --color-blue: #5368dfff;
  --color-dark: #252b46ff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

nav{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 120px;
}

nav ul,.menu{
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn{
    background-color: var(--color-red);
    padding: 12px 22px;
    color: white;
    border: none;
    border-radius: 5px;
}

.open-icon{
    display: none;
}

.icon-close{
    display: none;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 120px;
    gap: 35px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text h1{
    font-size: 40px;
    color: var(--color-dark);
}

.text p{
    font-size: 20px;
    line-height: 27px;
    color: gray;
    max-width: 650px;
}

.chrome{
    background-color: var(--color-blue);
    border:none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

}

.firefox{
    background-color: ghostwhite;
    border:none;
    color: black;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.hero-btn{
    display: flex;
    gap: 1rem;
}

.illustration-hero{
    position: relative;
}

.col{
    position: absolute;
    height: 300px;
    width: 600px;
    border-radius: 400px 0px 0px 400px;
    background-color: var(--color-blue);
    right: -120px;
    top: 170px;
    z-index: -1;
}

/* features section */
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    
}

.feature h2{
    font-weight: 500;
}

.feature .aim{
    text-align: center;
    line-height: 1.6;
    max-width: 500px;
    color: var(--color-dark);
    font-size: 16px;
    padding-top: 24px;
}

.feature ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-bottom: 2px solid gray;
  padding-top: 3rem;
  position: relative; /* make it a positioning context */
}

.feature ul li {
  position: relative;
  padding-bottom: 1.5rem;
  cursor: pointer;
  color:#333;
}

.feature ul li:hover{
    color: var(--color-red);
}
/* underline sits exactly over ul's border-bottom */
.feature ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* aligns with ul's border */
  width: 0;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
}

/* hover + active states */
.feature ul li:hover::after,
.feature ul li.active::after {
  width: 100%;
}



.feature .content .fbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 4rem 8rem;
}

.feature .content .fbox:not(:first-child){
display: none;
}
.container .content .fbox img{
    max-width: 300px;
    width: 100%;
    height: 346px;
}

.ftext h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.ftext p{
    color: #979797;
    line-height: 1.8;
    max-width: 400px;
    font-size: 16px;
    padding-top: 1.5rem;
}

.ftext .fbtn{
    border: none;
    margin-top: 1.5rem;
    background-color: var(--color-blue);
    color: white;
    font-size: 1rem;
    padding: 16px 30px;
    border-radius: 5px;
}


/* Download */

.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 40px;
}
.download-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 20px 0;
}

.download-box button{
    background-color: var(--color-blue);
    padding: 18px 30px;
    color: white;
    border-radius: 5px;
    border: none;
}

/* Faqs section */
.faqs{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
.faqs h2{
    font-weight: 500;
}


.faqs .text{
    max-width: 450px;
    text-align: center;
    padding-top: 18px;
    line-height: 1.6;
    color: #979797;
}

.faq-box{
    max-width: 500px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #979797;
    cursor: pointer;
}

.icon-arrow {
  width: 14px;
  height: auto;
}



.faq-box.active .answer{
    max-height: 300px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-weight: 400;
    font-size: 16px;
}

.question h3:hover{
    color: var(--color-red);
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.8;
    font-size: 15px;
    color: #979797;
}

.faq-box.active .icon-arrow{
 content: url("images/icon-arrow-red.svg");
}

.btn-info{
    border: none;
    background-color: var(--color-blue);
    color: white;
    padding: 16px 32px;
    border-radius: 5px;
    margin-top: 3rem;
    font-size: 1rem;
}

/* update */
.update{
    background-color: var(--color-blue);
    padding:80px 120px;
}

.update-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.update-text h3{
    font-size: 30px;
    max-width: 400px;
    text-align: center;
}

.form-box{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 12px;
    align-items: center;
}

.form-box form input{
    padding: 1rem 3rem;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    color: gray;
}


.form-box button{
    background-color: var(--color-red);
    border: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

footer{
    background-color: #242A45;
    display: flex;
    justify-content: space-between;
    padding:2rem 120px ;
    align-items: center;
    /* flex-direction: column; */
}

.ft-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
 footer ul{
    display: flex;
    align-items:center;
    gap: 50px;
}

footer ul li a{
    color:white;
    font-size: 1rem;
}

.ft-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width:650px) {
    nav{
        padding: 25px 35px;
    }
    .menu{
        display: none;
    }

   .open-icon{
    display: block;
   } 

   .hero{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    /* justify-content: center; */
    padding: 20px 35px;
   }

   .text h1{
    text-align: center;
    font-size: 30px;
   }

   .text p{
    font-size: 1rem;
    text-align: center;
   }

   .hero-btn{
    justify-content: center;
   }

   .chrome, .firefox{
    padding: 15px 25px;
    font-size:13px ;
   }

   .col{
    height: 170px;
    width: 300px;
    border-radius: 400px 0px 0px 400px;
    right: -33px;
    top: 60px;
    z-index: -1;
}

/* feature-section */





/* download */
.download{
    padding: 20px 35px;
}
.download-text h2{
    font-size: 26px;
    max-width:200px;
    text-align: center;
}
.download-text p{
    text-align: center;
    line-height: 22px;
}
.box{
    display:block;
}

.download-box{
    margin-bottom: 40px;
    gap:25px;
}

/* update */
.update{
    padding: 40px 35px;
}

.form-box{
    display: block;
}

.form-box button{
    width: 100%;
    margin-top: 20px;
}

/* footer */
footer{
    display: block;
    text-align: center;
    padding: 30px 35px;

}

footer ul, .ft-link{
    display: block;

}

footer ul li{
    margin-top:40px ;
}

.ft-social{
    margin-top: 40px;
}


}







